<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts --><link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/addblog.css">
</head>
<body>
    <header>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand" target="_blank" href="https://mdbootstrap.com/docs/standard/">
              <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="16" alt="" loading="lazy"
                   style="margin-top: -3px;" />
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#intro">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow"
                     target="_blank">Learn Bootstrap 5</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://mdbootstrap.com/docs/standard/" target="_blank">Download MDB UI KIT</a>
                </li>
              </ul>
      
              <ul class="navbar-nav d-flex flex-row">
                <!-- Icons -->
                <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow"
                     target="_blank">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="https://www.facebook.com/mdbootstrap" rel="nofollow" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="https://twitter.com/MDBootstrap" rel="nofollow" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="https://github.com/mdbootstrap/mdb-ui-kit" rel="nofollow" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->
      
        <!-- Jumbotron -->
        <div id="intro" class="p-5 text-center bg-light">
          <h1 class="mb-3 h2">Welcome Learner!</h1>
          <p class="mb-3">Have a great learning</p>
        </div>
        <!-- Jumbotron -->
      </header>

      <div class="container">
          <div class="row">
            <form class="">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Title">
                    <label for="floatingInput">Title</label>
                  </div>    
                  <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>Select and click add</option>
                      <option value="1">Technology</option>
                      <option value="2">Lifestyle</option>
                      <option value="3">Men Grooming</option>
                      <option value="3">Fashion</option>
                    </select>
                    <label for="floatingSelect">Choose the tags</label>
                    <div class="text-primary mt-2">
                        <button class="btn btn-primary" onclick="addtags()"><i class="fas fa-add mr-1"></i>Add</button>
                    </div>          
                  </div>
                  <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Tags" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Tags are Entered here</label>
                  </div>                  
                  <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Add Your Description" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Description</label>
                  </div>                  
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                  <hr class="my-4">
                  <a href="#">Already there! Sign in</a>
              </form>
          </div>
      </div>
      <script>
        function addtags(){
          console.log("hello");
          tag=document.getElementById("floatingSelect");
          tagvalue=tag.options[tag.selectedIndex].text;
          // console.log(tagvalue);
          
        }
      </script>
</body>
</html>