<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>

    <div >
<input type="text" name="name" id="name">
<input type="email" name="email" id="email">
<input type="password" name="password" id="password">
<button   onclick="callviaback()">ok</button>


    </div>

    <script>
        const callviaback = ()=>{

            console.log("ok");
            console.log({name:document.getElementById("name").value});
                var obj = {
                    name:document.getElementById("name").value,
                    email:document.getElementById("email").value,
                    password:document.getElementById("password").value,
                }
                console.log(obj);
                fetch('http://localhost:3000/api/user/register',{
  method: 'POST', // or 'PUT'
  headers: {
    'Content-Type': 'application/json',
},
  body:JSON.stringify(obj),
})
  .then(response => response.json())
  .then(data =>{ console.log(data)
    localStorage.setItem("id", data._id);
});
        }
    </script>

    
</body>
</html>